<!-- /pages/header.html -->
<header class="main-header">
    <div class="content-wrapper header-inner">
        <div class="logo">
            <img src="/assets/images/mibLogo.png" alt="">
        </div>
        <div class="right-header">
            <div class="datetime" id="datetime"></div>
            <div class="avatar-menu">
                <img src="/assets/images/profile-avatar.jpg" alt="avatar" class="avatar" id="avataBtn">
                <div class="dropdown" id="avatarDropdown">
                    <a href="/pages/profile.html"><i class="fa-solid fa-user"></i> Profile</a>
                    <button id="logoutBtn"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
                </div>
            </div>
        </div>
    </div>
</header>